# Pandas로 국민청원 데이터 분석하기

## Pandas와 NumPy를 import해 옵니다.

In [1]:
import pandas as pd
import numpy as np

## csv 데이터를 불러 옵니다.

In [2]:
df = pd.read_csv('data/petition.csv', parse_dates=['start', 'end'])

## 읽어온 데이터가 몇 행 몇 열인지 봅니다.

In [3]:
df.shape

(252885, 8)

## 일부 데이터 미리 보기
* 상단 5개의 데이터를 불러옵니다.

In [4]:
df.head(5)

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

* 하단 3개의 데이터를 불러옵니다.

In [5]:
df.tail(3)

,article_id,start,end,answered,votes,category,title,content
252882,327834,2018-08-02,2018-09-01,0,11,육아/교육,초등학교 돌봄교실 시간확대,안녕하십니까! 초등1학년 자녀를둔 학부모입니다.\n저는 자녀에게 항상 미안한 맞벌...
252883,327835,2018-08-02,2018-09-01,0,235,정치개혁,경찰의 공권력 강화를 부탁드립니다.,"요즘 기사를 보면 자주 '출동 후, 흉기에 찔린 경찰 순직' 꼴의 기사들(최근 7월..."
252884,327836,2018-08-02,2018-09-01,0,7,정치개혁,기무사는 뜯어고치려하고 썩은 사법부는 손 못대는 문재인 정부는 들으라.,문재인 정부는 들으라. 기무사도 과거 정권에서 부정적인 역활을 했는지 모르지만 지금...

## 결측치가 있는지 확인해 봅니다.

In [6]:
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

## 데이터 요약하기
* 어떤 컬럼이 있고 어떤 타입인지 출력해 봅니다.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252885 entries, 0 to 252884
Data columns (total 8 columns):
article_id    252885 non-null int64
start         252885 non-null datetime64[ns]
end           252885 non-null datetime64[ns]
answered      252885 non-null int64
votes         252885 non-null int64
category      252885 non-null object
title         252885 non-null object
content       252884 non-null object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 15.4+ MB

* 데이터 타입만 따로 뽑아 봅니다.

In [8]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

* 컬럼명만 따로 추출해 봅니다.

In [9]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

* 수치형 데이터에 대한 요약을 봅니다.

In [10]:
df.describe()

          article_id       answered          votes
count  252885.000000  252885.000000  252885.000000
mean   155496.416019       0.000107     149.941159
std     97264.202968       0.010332    4535.520959
min        21.000000       0.000000       0.000000
25%     66905.000000       0.000000       1.000000
50%    151323.000000       0.000000       4.000000
75%    238938.000000       0.000000      12.000000
max    327836.000000       1.000000  714875.000000

* 카테고리(object) 형태의 데이터에 대한 요약을 봅니다.

In [11]:
df.describe(include=np.object)

       category     title   content
count    252885    252885    252884
unique       17    215664    237189
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      43438      3018       597

## 답변대상 청원 보기
20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.<br/>20만건 이상 투표를 받은 청원의 갯수를 세어보세요.

In [12]:
df_20 = df.loc[df['votes'] > 200000]
df_20.shape

(51, 8)

In [13]:
df.loc[df['votes'] > 1000 ].count()

article_id    2261
start         2261
end           2261
answered      2261
votes         2261
category      2261
title         2261
content       2261
dtype: int64

In [14]:
df_20.category.value_counts()

인권/성평등         13
문화/예술/체육/언론     6
기타              6
안전/환경           5
외교/통일/국방        4
반려동물            3
정치개혁            3
육아/교육           2
경제민주화           2
보건복지            2
성장동력            2
행정              1
교통/건축/국토        1
미래              1
Name: category, dtype: int64

In [15]:
df_20[['title', 'content']].head(3)

,title,content
1752,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...

* 20만건 이상 투표를 받은 상위 5개의 청원을 head()를 통해 출력해 보세요.

In [16]:
df_20_loc = df.loc[df.votes > 200000]
df_20_loc.sort_values(by='votes', ascending=False).head()

,article_id,start,end,answered,votes,category,title,content
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...
242969,314584,2018-07-22,2018-08-21,0,413924,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,고생하시는 청와대 관계자 및 대통령님.\n이 글을 꼭 한번만 읽어주세요.\n너무나 ...

* 20만건 이상 투표를 받은 청원을 별도의 컬럼을 만들어 줍니다. 컬럼 이름은 `answer`로 합니다.

In [17]:
df['answer'] = (df['votes'] > 200000) == 1

* df 데이터프레임의 크기를 다시 찍어 보세요. 컬럼 하나가 늘었나요?

In [18]:
df.shape

(252885, 9)

In [19]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
answer                  bool
dtype: object

* 새로 생성해 준 answer의 타입은 boolean 타입입니다. int로 변경해 보세요.

In [20]:
df['answer'] = df['answer'].astype('int')

* 답변대상 청원중 아직 답변되지 않은 청원의 수를 계산해 보세요.

In [21]:
df['answer_diff'] = df['answer'] - df['answered']
df['answer_diff'].sum()

24

## 답변 대상 청원 중 투표를 가장 많이 받은 것

In [22]:
answered_df = df.loc[df['answer'] == 1]
answered_df.sort_values('votes', ascending=False).head(5)

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...,1,1
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1,0
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달...",1,0
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...,1,0
242969,314584,2018-07-22,2018-08-21,0,413924,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,고생하시는 청와대 관계자 및 대통령님.\n이 글을 꼭 한번만 읽어주세요.\n너무나 ...,1,1

## 어느 분야의 청원이 가장 많이 들어왔는지?
pandas의 value_counts로 특정 컬럼의 데이터를 그룹화하여 카운된 숫자를 볼 수 있습니다.<br/>
어느 분야의 청원이 가장 많이 들어왔는지 찾아보세요.

In [23]:
category = pd.DataFrame(df['category'].value_counts()).reset_index()
category.columns = ['category', 'counts']
category

       category  counts
0          정치개혁   43438
1            기타   31480
2        인권/성평등   24560
3         안전/환경   20134
4      외교/통일/국방   17874
5         육아/교육   17359
6          보건복지   14215
7           일자리   13337
8   문화/예술/체육/언론   13122
9            행정   13099
10     교통/건축/국토   12161
11           미래   11477
12        경제민주화    9949
13         성장동력    4711
14         반려동물    2690
15    저출산/고령화대책    2155
16         농산어촌    1124

## 청원이 가장 많이 들어 온 날은 언제인지 정렬해 보세요.

In [24]:
start_df = pd.DataFrame(df['start'].value_counts()).reset_index()
start_df.columns = ['start', 'counts']
start_df = start_df.sort_values('counts', ascending=False)
print('청원 집계: {}일'.format(start_df.shape[0]))
start_df.head()

청원 집계: 349일

       start  counts
0 2017-11-11    9623
1 2017-09-05    5952
2 2018-01-11    3368
3 2018-02-06    2631
4 2017-11-09    2487

## 피봇 테이블로 투표를 가장 많이 받은 분야를 찾아보세요.

In [25]:
petitions_unique = pd.pivot_table(df, index=['category'], aggfunc=np.sum)
petitions_best = petitions_unique.sort_values(by='votes', \
                                              ascending=False).reset_index()
petitions_best

       category  answer  answer_diff  answered  article_id    votes
0        인권/성평등      13            4         9  3512976242  7056524
1          정치개혁       3            2         1  6290842406  3789223
2            기타       6            5         1  4918727617  3501744
3   문화/예술/체육/언론       6            2         4  2240834037  3399521
4         안전/환경       5            3         2  3108162017  3379521
5      외교/통일/국방       4            3         1  3162711676  3051593
6          보건복지       2            0         2  2220027207  2992344
7         육아/교육       2            1         1  2391424938  2980467
8          반려동물       3            3         0   456501395  1450916
9            행정       1            0         1  2107670877  1300803
10        경제민주화       2            1         1  1618570563  1248900
11     교통/건축/국토       1            0         1  2021204990  1224089
12           미래       1            0         1  1710774397   964543
13         성장동력       2            0         2   714611979   698864
14          일자리       0            0         0  2338735789   685076
15    저출산/고령화대책       0            0         0   321414368   106344
16         농산어촌       0            0         0   187520667    87398

## 투표를 가장 많이 받은 날은 언제일까요?

In [26]:
petitions_start = pd.pivot_table(df, index=['start'], aggfunc=np.sum)
votes_df = petitions_start.sort_values(by='votes', ascending=False)
votes_df.loc[petitions_start['votes'] > 350000]

            answer  answer_diff  answered  article_id   votes
start
2018-06-13       1            1         0   146187973  786157
2018-02-19       1            0         1    99332898  701520
2018-07-22       1            1         0   282639463  672491
2017-09-06       1            0         1    22268570  648209
2018-06-24       2            2         0   359345089  628925
2018-02-23       2            0         2   168561151  608530
2018-05-18       1            1         0   190599564  574483
2018-05-11       1            0         1   119082098  556549
2018-05-25       2            2         0   217699031  514253
2018-06-17       2            2         0   158887091  468341
2018-07-03       1            1         0   247788786  467132
2018-04-17       1            0         1   232499699  446950
2018-05-02       1            1         0   204023320  445493
2017-09-03       1            0         1      404415  433356
2018-06-14       1            0         1   204240095  403351
2018-01-20       1            0         1    99071361  399683
2017-11-17       1            0         1    23752225  393348
2017-11-24       1            0         1    80814983  392782
2018-03-24       1            1         0    96422371  385480
2018-03-03       1            0         1    94454042  380016
2018-01-15       1            0         1   106053634  376187
2018-04-16       1            1         0   168625159  369318
2018-01-25       1            0         1   129153668  364926

## 청원을 많이 받은 날 VS 투표를 많이 받은 날에 대해 각각 상위 5개 목록을 추출해 봅니다. 
이때, title, content는 안 나와도 됩니다.

In [27]:
# 두 개의 데이터프레임을 합치기 위해 인덱스를 생성한다.
votes_df = votes_df.reset_index()
hottest_day_df = start_df.merge(votes_df, on='start', how='left')
hottest_day_df.sort_values('counts', ascending=False)[:5]

       start  counts  answer  answer_diff  answered  article_id  votes
0 2017-11-11    9623       0            0         0   348559310  85074
1 2017-09-05    5952       0            0         0    38414241  48808
2 2018-01-11    3368       0            0         0   291069195  44570
3 2018-02-06    2631       0            0         0   342371897  83038
4 2017-11-09    2487       0            0         0    73459579  34774

In [28]:
hottest_day_df.sort_values('votes', ascending=False)[:5]

         start  counts  answer  answer_diff  answered  article_id   votes
228 2018-06-13     542       1            1         0   146187973  786157
156 2018-02-19     698       1            0         1    99332898  701520
78  2018-07-22     898       1            1         0   282639463  672491
6   2017-09-06    2121       1            0         1    22268570  648209
23  2018-06-24    1272       2            2         0   359345089  628925

## 시계열 데이터 보기
* 월별 청원수를 집계해 보세요.

In [29]:
df['start_month'] = df['start'].dt.month
df['start_day'] = df['start'].dt.day
df['start_hour'] = df['start'].dt.hour
df['start_dow'] = df['start'].dt.dayofweek
df.shape

(252885, 14)

* 청원이 가장 많이 들어온 달은 언제인가요?
* 요일별 청원 수는 어떻게 되나요?

In [30]:
crypto = df[( df.title.str.find('가상화폐') != -1 ) | ( df.content.str.find('가상화폐') != -1  )]
crypto.shape

(7808, 14)

In [31]:
crypto.head()

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff,start_month,start_day,start_hour,start_dow
12781,12841,2017-09-08,2017-12-07,0,3,성장동력,가상전자화폐를 인정하고 규제해야합니다,가상전자화폐\n흔히 코인이라 불리는 비생산적이고 소모적이며\n시장을 혼란케 하고 산...,0,0,9,8,0,4
19325,19575,2017-10-06,2017-11-05,0,5,성장동력,ICO 전면금지에 대한 입장,정부는 9월 29일 김용범 금융위원회 부위원장 주재로 <가상통화 관계기관 합동TF>...,0,0,10,6,0,4
20874,21277,2017-10-15,2017-11-14,0,3906,미래,대통령님에게 전하는 지부상소(持斧上疏)입니다. -블록체인 기술에 대한 이야기-,지부상소(持斧上疏)를 이야기할 만큼 간절하게 원합니다.\n이 글이 문재인 대통령님께...,0,0,10,15,0,6
20911,21327,2017-10-15,2017-11-14,0,3,경제민주화,가상화폐 투기 광풍을 막아주세요,가상화폐 규제 어떻게 해야 하나 ?\n이제 우리 앞에 놓여진 사회적 이슈가 되어\n...,0,0,10,15,0,6
26541,27765,2017-11-08,2017-12-08,0,1,경제민주화,가상화폐 투자대행회사의 무분별한 수수료 바로잡아주세요,가상화폐 ico로 대리업무를 대행해주고 5-30% 수수료를 책정하고 계약서나 기타 ...,0,0,11,8,0,2

In [32]:
crypto['category'].value_counts()

경제민주화          1951
미래             1884
성장동력           1404
기타              997
정치개혁            872
행정              339
일자리             109
인권/성평등           65
안전/환경            52
외교/통일/국방         42
교통/건축/국토         31
문화/예술/체육/언론      26
보건복지             13
육아/교육             8
저출산/고령화대책         8
반려동물              5
농산어촌              2
Name: category, dtype: int64

In [33]:
import re
p = r'.*(돌봄|아이|초등|보육).*'
care = df[df['title'].str.match(p) |
           df['content'].str.match(p, flags=re.MULTILINE)]
care.shape

(31304, 14)

## 위 분석 외에 각자 해보고 싶은 분석을 해보세요.